{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 1200px;">
        <div class="card-body bs-card-subtitle-color">
            <div id="alert-div"></div>
            <div class="row">
                {% for etudiant in etudients %}
                    <div class="col-md-4">
                        <div class="student-card">
                            <h4>Convocation épreuve Ecrite</h4>
                            <p>Nom: {{ etudiant.nom }}</p>
                            <p>Prénom: {{ etudiant.prenom }}</p>
                            <p>Etablissement: {{ etudiant.etablissement }}</p>
                            <p>Numéro de convocation: {{ etudiant.convocation }}</p>
                            <p>Série: {{ etudiant.serie }}</p>
                           
                            {% if etudiant.convocation is not null and (etudiant.collective is not null or etudiant.individuel is not null) %}
                                <h4>Convocation épreuve EPS</h4>
                                <p>Nom: {{ etudiant.nom }}</h4>
                                <p>Prénom: {{ etudiant.prenom }}</p>
                                <p>Etablissement: {{ etudiant.etablissement }}</p>
                                <p>Numéro de convocation: {{ etudiant.convocation }}</p>
                                {% if etudiant.convocation is not null %}
                                    <p>Numéro: {{ etudiant.convocation }}</p>
                                {% endif %}
                                {% if etudiant.collective is not null %}
                                    <p>Collective: {{ etudiant.collective }}</p>
                                {% endif %}
                                {% if etudiant.individuel is not null %}
                                    <p>Individuel: {{ etudiant.individuel }}</p>
                                {% endif %}
                            {% endif %}
                             <hr>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <p>Aucun enregistrement trouvé</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
