{% extends 'base.html.twig' %}

{% block body %}
<style>
    body {
        background-color: #f7f6f6;
    }
</style>
<div class="container">
    <h3 class="text-center mt-5 mb-3">Liste des Candidats Du Baccalauréat</h3>
    <form action="{{ path('add_selected_to_pdf') }}" method="POST">
        <button type="submit" class="btn btn-primary">Ajouter sélection au PDF</button>
         <button type="button" class="btn btn-secondary" onclick="selectAllStudents()">Sélectionner tous</button>
        
        <div class="card" style="width:1200px;">
            <div class="card-body bs-card-subtitle-color">
                <div id="alert-div">
                </div>
                <table class="table table-bordered bs-table-border-color">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Genre</th>
                            <th>Etablissement</th>
                            <th>Numero</th>
                            <th>Candidat</th>
                            <th>Collectif</th>
                            <th>Individuel</th>
                            <th width="240px">Action</th>
                        </tr>
                    </thead>
                    <tbody id="projects-table-body">
                        {% for etudient in etudients %}
                        <tr>
                            <td>{{ etudient.nom }}</td>
                            <td>{{ etudient.prenom }}</td>
                            <td>{{ etudient.genre }}</td>
                            <td>{{ etudient.etablissement }}</td>
                            <td>{{ etudient.convocation }}</td>
                            <td>{{ etudient.candidat }}</td>
                            <td>{{ etudient.collective }}</td>
                            <td>{{ etudient.individuel }}</td>
                            <td>
                                <a title="Détails" href=""><i class="fa fa-eye" style="padding: 5px;font-size:17px;"></i></a>
                                <a title="Modifier" href=""><i class="fa fa-edit" style="padding: 5px;font-size:17px;color:green;"></i></a>
                                <input type="checkbox" name="selected_students[]" value="{{ etudient.id }}">
                                {# <a href="{{ path('app_etudient_edit', {'id': etudiant.id}) }}">edit</a>  #}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="7">Aucun enregistrement trouvé</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<script>
    function selectAllStudents() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = true;
        });
    }
</script>

{% endblock %}
